<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2021  LamGC
  ~
  ~ ContentGrabbingJi is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License.
  ~
  ~ ContentGrabbingJi is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration status="WARN">
    <!--
        测试版跟发布版在日志配置文件上的区别仅仅只有'Loggers'的不同, 'properties'和'Appenders'是一致的.
     -->
    <properties>
        <property name="logStorePath">./logs</property>
        <property name="charset">UTF-8</property>
        <property name="standard_pattern">[%-d{HH:mm:ss.SSS} %5level][%logger.%method():%-3L][%thread]: %msg%n</property>
        <property name="mirai_pattern">[%-d{HH:mm:ss.SSS} %5level][%logger]: %msg%n</property>
        <property name="logsDir">${sys:cgj.logsPath:-logs}</property>
    </properties>

    <Appenders>
        <Console name="STANDARD_STDOUT" target="SYSTEM_OUT">
            <PatternLayout charset="${charset}">
                <MarkerPatternSelector defaultPattern="${standard_pattern}">
                    <PatternMatch key="mirai" pattern="${mirai_pattern}" />
                </MarkerPatternSelector>
            </PatternLayout>
            <Filters>
                <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <Console name="STANDARD_STDERR" target="SYSTEM_ERR">
            <PatternLayout charset="${charset}">
                <MarkerPatternSelector defaultPattern="${standard_pattern}">
                    <PatternMatch key="mirai" pattern="${mirai_pattern}" />
                </MarkerPatternSelector>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>

        <RollingFile name="rollingFile" fileName="${logsDir}/latest.log" filePattern="${logsDir}/running.%-d{yyyy-MM-dd_HH-mm-ss}.log.gz">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout charset="${charset}">
                <MarkerPatternSelector defaultPattern="${standard_pattern}">
                    <PatternMatch key="mirai" pattern="${mirai_pattern}" />
                </MarkerPatternSelector>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STANDARD_STDOUT"/>
            <AppenderRef ref="STANDARD_STDERR"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</configuration>